<table>
  <thead>
    <tr>
      <th>Patient Name</th>
      <th>Patient Email</th>
      <th>Doctor Name</th>
      <th>Doctor Email</th>
      <th>Appointment Date & time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @appointments %>
  </tbody>
</table>
